<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/assets/img/favicon.ico">
<title>Correctlens-Blog</title>
<!-- Bootstrap core CSS -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
   <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
<link href="/assets/css/mediumish.css" rel="stylesheet">
</head>
<body>
<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button> -->
<div class="container">
	<!-- Begin Logo -->
	<a class="navbar-brand" href="/">
	<img src="/assets/img/logo.png" alt="logo">
	</a>
	<!-- End Logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav ml-auto">
			
			<li class="nav-item" onclick="logout()">
			<h6    class="btn btn-primary" >
			Logout
			</h6>
			</li>
			
		</ul>
	
	</div> 
	

</div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
<br>
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Blog Correctlens</h1>
	</div>
<div class='container'>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add Blog
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body text-center">
	
		  <input name='heading' id='heading' placeholder='Title' >  <br>
		  <input name='shortContent' id="shortContent" placeholder='Short Description of your blog' >  <br>
		  <input name='thumbImage' id='thumbImage' type="file"  placeholder='thumbnail image' >   <br>  
		  <div >
			  <p>  Write Blog content here</p>
			  <input id="editor" name='content' style="width: 100%;"> 
			</div> <br>
			<button onclick="myfunction()">Submit </button>
		</form>
	</div>
</div>
<div class="card-columns listfeaturedtag" >

	<!-- begin post -->
	<% blogs.map(element=>{ %>
		<div class="card">
		<div class="row">
			<div class="col-md-5 wrapthumbnail">
				<a href="<%= element.blogId%>">
					<div class="thumbnail" style="background-image:url(<%=element.thumbImage%>);">
					</div>
				</a>
			</div>
			<div class="col-md-7">
				<div class="card-block">
					<h2 class="card-title"><a href="<%= element.blogId%>"><%= element.heading%></a></h2>
					<h4 class="card-text">
					<%=element.shortContent%>
					</h4>
					<div class="metafooter">
						<div class="wrapfooter">
							<span class="meta-footer-thumb">
							<a href="author.html">
							<img class="author-thumb" 
							src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="John Doe"></a>
							</span>
							<span class="author-meta">
							<span class="post-name"><a href="author.html"> 
							<%let name=userDetails.name.toUpperCase()%>
							<%=name%> </a></span><br/>
							<span class="post-date"><%=element.date%></span>
							<span class="dot"></span><span class="post-read"> 
	
							<%=element.time%>
							 </span>
							</span>
							<span class="post-read-more"><a href="<%= element.blogId%>" title="Read Story">
								<div>
									<button class=" btn btn-outline-success">

										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
											<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
										</svg>
									</button>
									  <button class=" btn btn-outline-danger">

										  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
											<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
										</svg>
									</button>
								</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
<%	})%>

</div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script>
	let editor;
localStorage.setItem('token',"<%=token %>")
ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .then( newEditor => {
        editor = newEditor;
    } )
    .catch( error => {
        console.error( error );
    } );
		function myfunction(){
		let content = editor.getData()
		let heading=document.getElementById('heading').value;
		let thumbnail=document.getElementById('thumbImage').value;
		console.log(heading,thumbnail)
		let shortContent=document.getElementById('shortContent').value;
		fetch('/postBlog/'+localStorage.getItem('token'), {
			headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    method: "POST",
    body: JSON.stringify({content: content, heading:heading,shortContent:shortContent,thumbImage:thumbnail})
  }).then(function(response) {
    return response.json();
  }).then(function(data) {
    console.log('done')
  });
	}
function logout(){
	console.log('click')
	localStorage.removeItem('token')
	window.location.href='/'
}
if(!localStorage.getItem('token')){
	window.location.href='/'
//	console.log('hello')
}
    </script>

</body>
</html>
